# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Environnements virtuels
# ========================
venv/
mon_env/
.env

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# Airflow
# ========================
airflow/logs/
airflow/dags/__pycache__/

# ========================
# Logs
# ========================
*.log
update_log.txt
nohup.out

# ========================
# Fichiers système
# ========================
.DS_Store
.env.DS_Store
Thumbs.db
